.recent-activity {
	width: 150px;
	margin-left: 10px;
	margin-top: 15px;
}

.recent-activity-top {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

.recent-activity-top svg {
	box-sizing: content-box;
	font-size: 30px;
	padding: 4px;
	border-radius: 6px;
	background: rgba(55, 55, 55, 0.1);
	color: rgb(66, 66, 66);
	border-radius: 50%;
	border: 1px solid rgba(100, 50, 50);
}

.recent-activity-top p {
	margin-left: 8px;
	line-height: 22px;
}

.recent-activity-date {
	display: flex;
	align-items: center;
	margin: 5px 0 0 14px;
	border-left: 2px dashed #aaa;

	padding: 7px 0 10px 20px;
	font-size: 12px;
	color: #aaa;
	font-weight: 500;
}

.recent-activity-date svg {
	color: #bbb;
	font-size: 18px;
}
