.passengers {
	display: flex;
	flex-wrap: wrap;
}
.passengers > div {
	
	border: 2px solid rgba(93, 92, 70, 0.924);
	margin-right: -18px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	/* transform-origin: 100% 100%; */
	transform: perspective(200px) rotateY(25deg);
}

.passengers > div img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
