:root {
	--charcoal-color: #191933;
	--violet-color: #b266ec;
	--blue-color: #126aff;
	--white-color: #fff;
}
.unset {
	all: unset;
}

.block {
	display: block;
}
.middle {
	vertical-align: middle;
}
.center {
	text-align: center;
}
.pointer {
	cursor: pointer;
}
.page-title {
	font-size: 1.5rem;
}
.title {
	color: var(--charcoal-color);
	font-weight: 300;
	margin-bottom: 2rem;
	font-size: 2.5rem;
}

.home-hero-section {
	position: relative;
	
	height: 100vh;
	background-image: url('./assets/Traffic.jpg');

	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
}
@media screen and (min-width: 768px) {
	.home-hero-section {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.home-hero-section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.479);
}
.btns-container a {
	all: unset;
	background-color: #191933;
	font-size: 18px;
	padding: 15px 25px;
	border-radius: 20px;
	color: white;
	margin-right: 8px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;

	position: relative;
	z-index: 99999999999;
}
.btns-container a:nth-child(2) {
	background-color: #1919339b;
	border: 2px solid #191933;
}
.btns-container a:nth-child(2):hover {
	background-color: #191933;
}
.home-hero-section {
	display: flex;
	align-items: flex-end;
	padding-bottom: 50%;
}
.home-hero-section > div {
	display: flex;
	flex-direction: column;
	padding: 15px;
	position: relative;
	z-index: 99999;
}
.home-hero-section > div h1 {
	color: #eee;
	position: relative;
	z-index: 9999999999;
	font-size: 2rem;
	margin-bottom: 15px;
}
.homepage-container header {
	z-index: 99999999999999999999999999999999;
	background-color: var(--charcoal-color);
	color: white !important;
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 8vh;
	overflow: hidden;
}

.brand-container {
	height: 8vh;
	width: 50%;
}

.brand-container img {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-height: 100%;
	object-fit: cover;
}
.toggle-icons {
	position: absolute;
	top: 0;
	left: 0;
	margin: 1rem;
}
/**/
.side-collapse-toggle {
	position: absolute;
	top: 0;
	right: 0;

	margin: 0.5rem;
}
.side-collapse-toggle svg {
	font-size: 1.3rem;
}
.side-bar {
	height: 100vh;
	width: 70%;
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	transition: 0.3s;
	box-shadow: 62px 28px 60px -89px rgba(14, 0, 71, 1);
	z-index: 99999999999999999;
}
.side-bar-collapsed {
	transform: translateX(-200%) !important;
	transition: 0.5s ease-in-out;
}
.side-bar ul {
	list-style: none;
}
/* sideBar */
.user-profile-overall {
	background-color: var(--charcoal-color);
	color: var(--white-color);
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.user-image-container {
	/* background-color: red; */
	margin: 0 auto;
	position: relative;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 1rem;
	border: 3px solid white;
	padding: 5px;
}

.user-image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.change-profile {
	position: absolute;
	bottom: 0;
	right: 0;
}
.change-profile svg {
	color: var(--violet-color);
}

/* new Trip form  */

.new-trip-form {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	max-width: 500px;
}
.new-trip-form fieldset {
	border-radius: 10px;
	border: 1px solid lightgray;
	padding: 0.4rem;
	flex: 1 0 100%;
}
.new-trip-form fieldset:nth-child(3) {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.new-trip-form label {
	font-size: 18px;
	display: block;
	margin: 10px 0;
}
.new-trip-form input {
	line-height: 2;
	border-bottom: 1px solid lightblue;
}
.new-trip-form button {
	margin-top: 10px;
	text-align: center;
	padding: 10px;
	background-color: var(--violet-color);
	color: var(--white-color);
	border-radius: 10px;
}
.new-trip-form select {
	/* appearance: none; */
	background-color: rgba(173, 216, 230, 0.246);
	padding: 0.3em 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
}

/* hosted-trips-container */
.hosted-trips-container {
	padding: 1rem 0.5rem;
}

.hosted-trips-container article {
	background-color: rgba(242, 242, 242, 0.682);
	border: 1px solid rgb(222, 222, 222);
	padding: 15px 10px;
	border-radius: 10px;
	display: flex;
	margin-bottom: 1rem;
	position: relative;
	min-height: 180px;
}

.hosted-trips-container article::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 10px;
	height: 100%;
	background-color: var(--violet-color);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 999;
}
.hosted-trips-container article div:nth-child(2) {
	font-size: 14px;
}
.hosted-trips-container article div:nth-child(2) span {
	line-height: 1.7;
}
.hosted-trips-container article strong {
	letter-spacing: 0.8px;
	color: rgb(41, 41, 41);
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 600;
}

.card-separator {
	position: absolute;
	/* background-color: lightgray; */
	border-left: 1px dashed gray;
	height: 80%;
	width: 1px;
	top: 10%;
	left: 0;
}

.map-card-height {
	height: 150px;
}
.map-height-100 {
	height: 100% !important;
}

/* pending table */

.pending-container > div {
	overflow-x: scroll;
}

.table-image-container {
	height: 60px;
	width: 60px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
}

.table-image-container img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.pending-table table {
	width: 100%;
	border-collapse: collapse;
}

.pending-table th,
.pending-table td {
	min-width: 150px;
}

.pending-table td {
	padding: 5px 12px;
	text-align: center;
	color: gray;
}
.pending-table td:nth-child(1) {
	padding: 15px 12px;
}

.pending-table tbody tr {
	border-bottom: 1px solid gray !important;
}
.pending-table tbody tr:nth-child(even) {
	background-color: rgba(232, 232, 232, 0.403);
}
.pending-table thead tr:nth-child(1) {
	background-color: var(--violet-color);
	color: white !important;
}
.pending-table thead tr td {
	color: inherit;
	letter-spacing: 1px;
	font-weight: 500;
}
